* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

.header {
  padding: 2%;
  margin-right: 5%;
}
.header > pre > a {
  color: #000;
  text-decoration: none;
}
.header > pre {
  text-align: right;
}

.pic {
  text-align: center;
}
.pic > img {
  width: 50%;
}

.test {
  text-align: center;
}

.field {
  width: 20%;
  margin: 0 auto;
}

