* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
  transition: all .3s;
}

body {
  background-image: url('background.webp');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}



.header {
  padding: 2%;
  margin-right: 5%;
}
.header > pre > a {
  color: #fff;
  text-decoration: none;
}
.header > pre {
  text-align: right;
}

ul li {list-style-type: none;}

ul,
li {
  float: right;
  padding: 0 10px;
  justify-content: space-between;
  color: #000;
}

.go_test {
  text-align: center;
  padding: 2%;
  width: 19.21%;
  border: 1px solid rgba(226, 226, 226, 0.5);
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(226, 226, 226, 0.5);
}
.go_test:hover {
  cursor: pointer;
  background-color: skyblue;
  color: #fff;
  border: 1px solid #fff;   
}

.medic {
  width: 15%;
}
.chu {
  text-align: center;
}

@media screen and (max-width:767px) {
  .go_test {
    width: 200px;
    line-height: 50px;
    align-items: center;
    font-size: 17px;
  }
}